
{% load blog_tags %}
    <div class="col-lg-4">
       {% show_latest_posts_categories 3 8 category.id as lastes_categories %}
      {% for post in lastes_categories %}
      <div class="post-entry-1 border-bottom">
        <div class="post-meta"><span class="date">{{post.category.name}}</span> <span class="mx-1">&bullet;</span> <span>{{post.created}}</span></div>
        <h2 class="mb-2"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
        <span class="author mb-3 d-block">{{post.author}}</span>
      </div>
        {% endfor %}
    </div>