 {% load blog_tags %}

 {% show_latest_posts_categories 0 3 category.id as lastes_categories %}
  {% for post in lastes_categories %}
  <div class="post-entry-1">
    {% if post.portada  %}
    <a href="{{post.get_absolute_url}}"><img src="{{post.portada.url}}" alt="" class="img-fluid"></a>
     {% endif  %}
  <div class="post-meta"><span class="date">{{post.category.name}}</span> <span class="mx-1">&bullet;</span> <span>{{post.created}}</span></div>
    <h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
    <p class="mb-4 d-block">{{post.body|safe|truncatechars:200}}</p>

    <div class="d-flex align-items-center author">
      <div class="name">
        <h3 class="m-0 p-0">{{post.author}}</h3>
      </div>
    </div>
  </div>
  {% endfor %}

