{% load static %}


<!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                 {% for post in posts %}
                <div class="swiper-slide">
                  <a href="{{post.get_absolute_url}}" class="img-bg d-flex align-items-end text-right" style="background-image: url('{{post.portada.url}}');">
                    <div class="img-bg-inner">
                      <h2 style="color:{{post.color_titulo}}" >{{post.title}}</h2>
                      <p style="color:{{post.color_subtitulo}}">{{post.body|truncatechars:200|safe }}</p>
                    </div>

                  </a>
                </div>
                  {% endfor %}
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->
